* {
  box-sizing: border-box;
  font-size: 14px;
  font-family: sans-serif; }

.form-wrapper {
  width: 100%;
  height: 555px;
  display: inline-block;
  background: #5BA3D6;
  clear: both;
  color: #fff; }

.left-col {
  background-color: #5BA3D6;
  float: left;
  display: inline-block;
  width: 33%;
  padding: 25px; }

.mid-col {
  float: left;
  display: inline-block;
  width: 33%;
  padding: 25px; }

.right-col {
  float: right;
  display: inline-block;
  width: 33%;
  padding: 25px; }

fieldset {
  border: none;
  margin: 0 auto; }
  fieldset input {
    background: #5BA3D6;
    border: 2px solid #fff;
    color: #fff;
    width: 21.07em;
    height: 40px;
    padding: 5px 10px; }
  fieldset textarea {
    background: #5BA3D6;
    border: 2px solid #fff;
    color: #fff;
    margin: 10px 20px 0 0; }
  fieldset select {
    background: #5BA3D6;
    color: #fff;
    border: 2px solid #fff;
    margin: 30px 25px 0 0;
    width: 300px; }
