* {
  box-sizing: border-box;
  font-size: 14px;
  font-family: sans-serif; }

.form-wrapper {
  width: 100%;
  display: inline-block;
  background: #5BA3D6;
  clear: both;
  color: #fff;
  height: 500px; }

.left-col {
  background-color: #5BA3D6;
  float: left;
  display: inline-block;
  width: 30%;
  padding-left: 25px; }

.mid-col {
  float: left;
  display: inline-block;
  width: 33%;
  padding: 0;
  clear: right;
  margin-top: 40px; }

.right-col {
  float: right;
  display: inline-block;
  width: 33%; }

fieldset {
  border: none;
  overflow: visible; }
  fieldset input {
    background: #5BA3D6;
    border: 2px solid #fff;
    color: #fff;
    width: 95%;
    height: 40px;
    padding: 5px 10px;
    clear: both; }
  fieldset textarea {
    background: #5BA3D6;
    border: 2px solid #fff;
    color: #fff;
    margin: 10px 20px 0 0;
    width: 95%; }
  fieldset select {
    background: #5BA3D6;
    color: #fff;
    border: 2px solid #fff;
    width: 300px; }
  fieldset label {
    padding: 0; }
